<a href="https://colab.research.google.com/github/lucasquemelli/Star_Jeans/blob/main/star_jeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

from scipy import stats
from matplotlib import pyplot as plt
from matplotlib import gridspec

# 1. Exploratory Data Analysis (EDA)

Firstly, we planned to scrape data from H&M and Macys. However, we found many websites with denied access to their data - Macys was one of them. Thus, we decided to use data from True Religion website instead of Macys. Although we could collect some data, yet it was not possible to collect everything we wanted due to permissions and website layout (that limits scraping).

In [4]:
url01 = 'https://raw.githubusercontent.com/lucasquemelli/ds_ao_dev/main/data_clean.csv'
df01 = pd.read_csv(url01)
df01.head()

,Unnamed: 0,product_id,fit,color,product_name,product_price,style_id,color_id,scrape_datetime,cotton,polyester,spandex,lyocell,rayon,elastomultiester,model_size,jeans_size
0,0,1100162003,regular_fit,denim_gray,essentials_no_2_the_jeans,39.99,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
1,1,1100162003,regular_fit,denim_gray,NaN,NaN,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
2,2,1100162002,regular_fit,denim_blue,essentials_no_2_the_jeans,39.99,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
3,3,1100162002,regular_fit,denim_blue,NaN,NaN,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
4,4,1024256001,slim_fit,black,slim_jeans,19.99,1024256,1,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,185.0,31/32

In [6]:
url02 = 'https://raw.githubusercontent.com/lucasquemelli/ds_ao_dev/main/truereligion_clean.csv'
df02 = pd.read_csv(url02)
df02.head()

,Unnamed: 0,product_id,product_name,product_price,scrape_datetime
0,0,194922694017,rocco_skinny_jean,49.0,2022-12-05 09:41:26
1,1,194922794977,ricky_straight_jean,49.0,2022-12-05 09:41:26
2,2,194922702125,geno_slim_jean,49.0,2022-12-05 09:41:26
3,3,194922694338,ricky_straight_jean,49.0,2022-12-05 09:41:26
4,4,194922795424,rocco_skinny_jean,49.0,2022-12-05 09:41:26