<a href="https://colab.research.google.com/github/lucasquemelli/Star_Jeans/blob/main/star_jeans.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Libraries

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import plotly.express as px

from scipy import stats
from matplotlib import pyplot as plt
from matplotlib import gridspec

# 1. Exploratory Data Analysis (EDA)

Firstly, we planned to scrape data from H&M and Macys. However, we found many websites with denied access to their data - Macys was one of them. Thus, we decided to use data from True Religion website instead of Macys. Although we could collect some data, yet it was not possible to collect everything we wanted due to permissions and website layout (that limits scraping).

In [2]:
url01 = 'https://raw.githubusercontent.com/lucasquemelli/ds_ao_dev/main/data_clean.csv'
df01 = pd.read_csv(url01)
df01.head()

,Unnamed: 0,product_id,fit,color,product_name,product_price,style_id,color_id,scrape_datetime,cotton,polyester,spandex,lyocell,rayon,elastomultiester,model_size,jeans_size
0,0,1100162003,regular_fit,denim_gray,essentials_no_2_the_jeans,39.99,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
1,1,1100162003,regular_fit,denim_gray,NaN,NaN,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32
2,2,1100162002,regular_fit,denim_blue,essentials_no_2_the_jeans,39.99,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
3,3,1100162002,regular_fit,denim_blue,NaN,NaN,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32
4,4,1024256001,slim_fit,black,slim_jeans,19.99,1024256,1,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,185.0,31/32

In [3]:
url02 = 'https://raw.githubusercontent.com/lucasquemelli/ds_ao_dev/main/truereligion_clean.csv'
df02 = pd.read_csv(url02)
df02.head()

,Unnamed: 0,product_id,product_name,product_price,scrape_datetime
0,0,194922694017,rocco_skinny_jean,49.0,2022-12-05 09:41:26
1,1,194922794977,ricky_straight_jean,49.0,2022-12-05 09:41:26
2,2,194922702125,geno_slim_jean,49.0,2022-12-05 09:41:26
3,3,194922694338,ricky_straight_jean,49.0,2022-12-05 09:41:26
4,4,194922795424,rocco_skinny_jean,49.0,2022-12-05 09:41:26

## 1.1. Data Description

### 1.1.1. H&M

#### 1.1.1.1. Data shape and types

In [4]:
print("Number of rows: {}".format(df01.shape[0]))
print("Number of cols: {}".format(df01.shape[1]))

Number of rows: 128
Number of cols: 17

In [5]:
df01.dtypes

Unnamed: 0            int64
product_id            int64
fit                  object
color                object
product_name         object
product_price       float64
style_id              int64
color_id              int64
scrape_datetime      object
cotton              float64
polyester           float64
spandex             float64
lyocell             float64
rayon               float64
elastomultiester    float64
model_size          float64
jeans_size           object
dtype: object

In [6]:
df01 = df01.drop(columns=['Unnamed: 0']).reset_index(drop=True)

In [7]:
df01['scrape_datetime'] = pd.to_datetime(df01['scrape_datetime'])

In [8]:
df01.dtypes

product_id                   int64
fit                         object
color                       object
product_name                object
product_price              float64
style_id                     int64
color_id                     int64
scrape_datetime     datetime64[ns]
cotton                     float64
polyester                  float64
spandex                    float64
lyocell                    float64
rayon                      float64
elastomultiester           float64
model_size                 float64
jeans_size                  object
dtype: object

#### 1.1.1.2. Missing values

In [9]:
df01.isna()

,product_id,fit,color,product_name,product_price,style_id,color_id,scrape_datetime,cotton,polyester,spandex,lyocell,rayon,elastomultiester,model_size,jeans_size
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
123,False,False,False,False,False,False,False,False,False,False,False,False,False,False,True,True
124,False,False,False,True,True,False,False,False,False,False,False,False,False,False,True,True
125,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
126,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
127,False,False,False,True,True,False,False,False,False,False,False,False,False,False,False,False

In [10]:
df01.isna().sum()

product_id           0
fit                  0
color                0
product_name        56
product_price       56
style_id             0
color_id             0
scrape_datetime      0
cotton               0
polyester            0
spandex              0
lyocell              0
rayon                0
elastomultiester     0
model_size          39
jeans_size          45
dtype: int64

In [11]:
df01.isna().sum()/df01.shape[0]

product_id          0.000000
fit                 0.000000
color               0.000000
product_name        0.437500
product_price       0.437500
style_id            0.000000
color_id            0.000000
scrape_datetime     0.000000
cotton              0.000000
polyester           0.000000
spandex             0.000000
lyocell             0.000000
rayon               0.000000
elastomultiester    0.000000
model_size          0.304688
jeans_size          0.351562
dtype: float64

In [12]:
df_aux01 = df01.dropna()
df_aux01.shape

(44, 16)

Deleting the missing values would result in a very large impact on the dataframe. As the H&M website's HTML changes daily, it would also not be feasible to collect more data automatically every day.

The solution I propose is not to use the column of product_name, model_size and jeans_size. For product_price, check the price grouping by product_id and if it doesn't vary too much assign the price values to the missing values within the same product_id.

#### 1.1.1.3. Missing values replacement

In [13]:
df01[['product_id', 'product_price']].sort_values('product_id', ascending=True).groupby('product_id').head()

     product_id  product_price
35    690449022            NaN
34    690449022          39.99
25    690449036          39.99
50    690449051          39.99
63    690449056          39.99
..          ...            ...
1    1100162003            NaN
90   1107750001          44.99
91   1107750001            NaN
126  1114023003          44.99
127  1114023003            NaN

[128 rows x 2 columns]

In [17]:
# Attributing 0 for Na value
for i in range(len(df01)):
    if df01.loc[i, 'product_price'] > 0:
        df01.loc[i, 'product_price'] = df01.loc[i, 'product_price']
    
    else:
        df01.loc[i, 'product_price'] = 0

# Creating an auxiliar dataframe with the maximum values for each product_id only
df_aux = df01[['product_id', 'product_price']].groupby('product_id').max().reset_index()  

# Including the column created above into the dataframe we want
df01_clean = pd.merge(df01, df_aux, on='product_id', how='left')

# Deleting the previous price column and renaming the current price column
df01_clean = df01_clean.drop(columns=['product_price_x'])
df01_clean.rename(columns={'product_price_y':'product_price'}, inplace=True)

df01_clean.head()

,product_id,fit,color,product_name,style_id,color_id,scrape_datetime,cotton,polyester,spandex,lyocell,rayon,elastomultiester,model_size,jeans_size,product_price
0,1100162003,regular_fit,denim_gray,essentials_no_2_the_jeans,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32,39.99
1,1100162003,regular_fit,denim_gray,NaN,1100162,3,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,187.0,31/32,39.99
2,1100162002,regular_fit,denim_blue,essentials_no_2_the_jeans,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32,39.99
3,1100162002,regular_fit,denim_blue,NaN,1100162,2,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,189.0,31/32,39.99
4,1024256001,slim_fit,black,slim_jeans,1024256,1,2022-11-07 11:20:15,0.99,0.65,0.01,0.0,0.0,0.0,185.0,31/32,19.99

In [18]:
df01_clean = df01_clean.drop(columns=['product_name', 'model_size', 'jeans_size'])
df01_clean.isna().sum()

product_id          0
fit                 0
color               0
style_id            0
color_id            0
scrape_datetime     0
cotton              0
polyester           0
spandex             0
lyocell             0
rayon               0
elastomultiester    0
product_price       0
dtype: int64

#### 1.1.1.4. Data description

#### Numerical data

In [19]:
numerical_attributes = df01_clean.select_dtypes(include=['float64'])
numerical_attributes.head()

   cotton  polyester  spandex  lyocell  rayon  elastomultiester  product_price
0    0.99       0.65     0.01      0.0    0.0               0.0          39.99
1    0.99       0.65     0.01      0.0    0.0               0.0          39.99
2    0.99       0.65     0.01      0.0    0.0               0.0          39.99
3    0.99       0.65     0.01      0.0    0.0               0.0          39.99
4    0.99       0.65     0.01      0.0    0.0               0.0          19.99

In [20]:
t1 = pd.DataFrame(numerical_attributes.apply( np.mean )).T
t2 = pd.DataFrame(numerical_attributes.apply( np.median )).T

d1 = pd.DataFrame(numerical_attributes.apply( np.std )).T
d2 = pd.DataFrame(numerical_attributes.apply( np.min )).T
d3 = pd.DataFrame(numerical_attributes.apply( np.max )).T
d4 = pd.DataFrame(numerical_attributes.apply( lambda x: x.max() - x.min() )).T # range
d5 = pd.DataFrame(numerical_attributes.apply( lambda x: x.skew() )).T 
d6 = pd.DataFrame(numerical_attributes.apply( lambda x: x.kurtosis() )).T 

m1 = pd.concat([d2, d3, d4, t1, t2, d1, d5, d6]).T.reset_index()
m1.columns = ['attributes', 'min', 'max', 'range', 'mean', 'median', 'std', 'skew', 'kurtosis']
m1

,attributes,min,max,range,mean,median,std,skew,kurtosis
0,cotton,0.77,1.00,0.23,0.979297,0.995,0.049279,-3.299814,10.234218
1,polyester,0.00,1.00,1.00,0.448672,0.650,0.311690,-0.601429,-1.382646
2,spandex,0.00,0.02,0.02,0.008906,0.010,0.007729,0.192756,-1.309400
3,lyocell,0.00,0.55,0.55,0.017188,0.000,0.095696,5.452262,28.167078
4,rayon,0.00,0.15,0.15,0.004687,0.000,0.026099,5.452262,28.167078
5,elastomultiester,0.00,0.09,0.09,0.005312,0.000,0.020613,3.680787,11.795626
6,product_price,19.99,49.99,30.00,34.325938,39.990,8.578022,-0.101124,-1.018972

**Skewness**: how much a distribution of data deviates from a normal distribution.

- Median greater than mean: right or negative skewness (mean minus median).

- Median less than mean: left or positive skewness (mean minus median).

- The median will always be in the direction of the highest concentration.
Median equals mean: normal distribution = no skewness.

ML algorithms need to train with unbiased data, that is, the distribution of the response variable (target) needs to be closer to a normal distribution.

**Kurtosis**: Data distribution around the mean.

- Evidence of long tails (low probability of extreme values occurring).

- High kurtosis: concentration around the mean - can bias the model.